################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Wpf/Gracjan/CarRentalWPF/.vs/CarRentalWPF/v16
